.facts {
  background: url('../images/facts_bg.png') center center;
  padding: 1rem 0 4rem;
  &__header {
    font-size: 2.3rem;
    margin: 1rem 0 2rem;
    font-weight: normal;
    text-align: center;
    font-family: 'Clinica Pro Rg', sans-serif;
  }
  &__container {
    -js-display: flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__item {
    flex: 1;
    flex-basis: 49%;
    padding: 0 1rem 1rem 100px;
    min-height: 100px;
    background: url('../images/icof1.png') top left no-repeat;
    &:nth-child(2n) {
      padding: 0 0rem 1rem 116px;
      background-position: 16px 0;
    }
  }
  @media screen and (max-width: 40rem) {
    &__header {
      font-size: 1.7rem;
    }
    &__container {
      flex-flow: row wrap;
    }
    &__item {
      min-width: 100%;
      &, &:nth-child(2n) {
        padding-left: 100px;
        background-position: 0 0;
      }
    }
  }
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
