.location {
  padding: 6rem 0 5rem;
  background: url('../images/location.jpg') center top no-repeat,
              url('../images/pix_02.png') center center;
  &__title {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 300;
  }
  &__text {
    margin: 2rem 0;
    text-align: center;
  }
  img {
    max-width: 100%;
  }
  @media screen and (max-width: 40rem) {
    padding: 1rem 0.2rem 1rem;
    &__title {
      font-size: 1.2rem;
    }
  }
}
.mfp-content .box-modal1 {
  background-color: #fff;
  padding: 40px 0 0;
}
