.ourwork {
  background: url(../images/footer_bg.jpg) center center;
  padding: 1px;
  h2, &__header {
    font-size: 2.5rem;
    font-family: 'Clinica Pro Rg', arial, sans-serif;
    text-align: center;
    font-weight: normal;
    margin: 3rem 0 2.5rem 0;
  }
  &__container {
    -js-display: flex;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
  }
  &__item {
    /*flex: 1;*/
    text-align: center;
    b {
      text-transform: uppercase;
    }
  }
  &__image {
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 40rem) {
    padding-bottom: 4rem;
    h2, &__header {
      font-size: 1.6rem;
    }
    &__container {
      flex-wrap: wrap;
    }
    &__item {
      min-width: 100%;
      border-right: 0;
    }
  }
}
