@charset "UTF-8";

// @import '_sprite';
@import 'node_modules/normalize.css/normalize';
@import 'node_modules/sass-easing/_easings';

@import 'fonts/_fonts';

$siteWidth: 62.5rem;
$mTrans: $easeInOutSine;
$mTransOut: $easeOutSine;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  font-family: 'PF BeauSans Pro', sans-serif;
  font-weight: 400;
}

.wrapper {
  max-width: $siteWidth;
  margin: 0 auto;
  &_fat {
    max-width: 80rem;
  }
  &_video {
    max-width: 40rem;
  }
  &_guest {
    max-width: 20rem;
  }
  &_mac {
    max-width: 523px;
    position: relative;
    margin-top: 5rem;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -1278/2 + px;
      top: -268px;
      width: 1278px;
      height: 720px;
      z-index: -1;
      background: url('../images/cabinet_bg.png') center center no-repeat;
      @media screen and (max-width: 30rem) {
        display: none;
      }
    }
    .seq-next, .seq-prev {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 60px;
      height: 62px;
      z-index: 15;
      cursor: pointer;
    }
    .seq-prev {
      left: -90px;
      background: url('../images/arr_prev.png') center center no-repeat;
    }
    .seq-next {
      right: -96px;
      background: url('../images/arr_next.png') center center no-repeat;
    }
  }
}

.preloader {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #f4e0c7;
  z-index: 9999;

  background: linear-gradient(-59deg, #ffffff, #eaca64);
  background-size: 400% 400%;
  animation: preloaderAnim 25s ease infinite;
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    svg {
      animation: float 1s linear infinite;
    }
  }
  @keyframes preloaderAnim { 
      0% { background-position: 0% 50% }
      50% { background-position: 100% 50% }
      100% { background-position: 0% 50% }
  }
  @keyframes float {
    0% {
      transform: translate3d(0,0.3rem,0)
    }
    50% {
      transform: translate3d(0,-0.3rem,0)
    }
    100% {
      transform: translate3d(0,0.3rem,0)
    }
  }
}

@import 'modules/**/*';
